header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 1em;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.produtos {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

.produtos h2 {
    font-size: 2em;
    font-weight: bold;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 1.8px 1.2px;
    box-sizing: border-box;
}

.produto-descricao {
    font-size: 1.5em;
}

.produto-preco {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 1em;
}