header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 1em;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: #C79C19;
    text-decoration: underline;
}

.produtos {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

.produtos h2 {
    font-size: 1.9em;
    font-weight: bold;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 1em 0.5em;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
}

.produtos li:hover {
    border-color: #C79C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 2.1em;
}

.produto-descricao {
    font-size: 1.5em;
}

.produto-preco {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 1em;
}

footer {
    text-align: center;
    background: #222222;
    padding: 1em 0;
}

.copyright {
    color: white;
}

main {
    width: 90%;
    margin: 0 auto;
}

form {
    margin: 2.5em 0;
}

form label,
form legend {
    display: block;
    margin: 0 0 0.5em;
    font-size: 1.5em;
}

.input-padrao {
    display: block;
    margin: 0 0 1.4em;
    padding: 0.8em 1.5em;
    width: 30%;
}

.checkbox {
    margin: 1.4em 0;
}

.enviar {
    width: 30%;
    padding: 1em 3em;
    font-size: 1.5em;
    font-weight: bold;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.6s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 3em;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, 
th {
    border: 1px solid black;
    padding: .5em 1em;
}