header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 1em;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: #C79C19;
    text-decoration: underline;
}

.titulo-principal {
    padding-left: 2em;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 2em;
}

.texto-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 1.3em;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
}

#imagem-beneficios {
    width: 50%;
}