

nav {
    margin: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__empresa {
    display: flex;
    align-items: center;

    font-family: inter;
    font-size: 1.15rem;
}

.nav__empresa--logo {
    padding-right: 0.2rem;
}

.nav__menu {
    width: 50%;

    display: flex;
}

.nav__menu--item {
    margin: 0 0.5rem;
}

.nav__cadastro {
    display: flex;
    align-items: center;
}

.nav__cadastro p,
.nav__cadastro--cadastrar {
    margin: 0 0.5rem;
}

.nav__cadastro--cadastrar {
    color: white;

    padding: 0.6rem 1.15rem;

    background-color: var(--vermelho);

    border-radius: 5px;
}

 /* ---- */

 header {
     display: flex;
     flex-direction: column;
     align-items: center;

     margin: 7rem 0;
}

.texto-vermelho {
    color: var(--vermelho);
    font-weight: 600;
}

.titulo-1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cinza-titulo);

    margin: 1.5rem 0;
}

header p {
    font-weight: 400;
    font-size: 1rem;

    text-align: center;
    width: 43%;
}