.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5rem 20rem;
}

.vaga-titulo-secao {
    align-self: flex-start;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
    
    color: var(--cinza-titulo);
    font-size: 1.4rem;
}

.vagas__card {
    border: 2px solid var(--cinza-borda);
    border-radius: 10px;

    width: 100%;

    padding: 1rem;
    margin: 1rem 0;
}


.titulo-vaga {
    color: var(--cinza-titulo);

}

.informacoes {
    margin-top: 1.25rem;
}

.informacoes span {
    padding-right: 2rem;
}